Repository Ericsson/CodecheckerVSCodePlugin, pull requests merged in 2021-07, with the labels that each got.

#1 Initial structure
  .eslintrc.json
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  .vscodeignore
  .yarnrc
  CHANGELOG.md
  README.md
  package.json
  src/extension.ts
  src/test/runTest.ts
  src/test/suite/extension.test.ts
  src/test/suite/index.ts
  tsconfig.json
  webpack.config.js
  yarn.lock
Labels: configuration, documentation

#4 Add GitHub actions
  .eslintrc.json
  .github/workflows/test.yml
  .vscode/settings.json
  src/extension.ts
Labels: test

#8 Run all tests in github action
  .github/workflows/test.yml
Labels: configuration, test
